beautifulsoup4==4.6.0
boto==2.48.0
boto3==1.5.22
botocore==1.8.36
cffi==1.10.0
cycler==0.10.0
future==0.16.0
Jinja2==2.9.6
lxml==4.6.5
MarkupSafe==1.0
nltk==3.2.4
numpy==1.12.1
numpydoc==0.7.0
oauth2client==4.1.2
oauthlib==2.0.1
Pillow==5.0.0
pymongo==3.6.0
requests==2.13.0
requests-oauthlib==0.8.0
Scrapy==1.5.0
scrapy-djangoitem==1.1.1
six==1.11.0
urllib3==1.22
